* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.my-tip:before {
  position: absolute;
  top: -7px;
  left: 98px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #eee;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.my-tip {
  background: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  position: relative;
  width: 200px;
}
.my-tip:after {
  position: absolute;
  top: -6px;
  left: 99px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #eee;
  border-left: 6px solid transparent;
  content: '';
}
