.bg:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523894302934&di=003a04f82b08256c3261cfa792f466c2&imgtype=0&src=http%3A%2F%2Fdp.xinshoucun.com%2Fuploads%2Fpictures%2F2011-12%2F20111224232830167750t11036026911634_2.jpg) center 0 no-repeat;
  background-size: cover;
}
.random {
    background: #fff6;
    padding: 100px;
    width: 20%;
    margin: 0 auto;
    margin-top: 10%;
    font-weight: bold;
    color: blue;
    text-align: center;
}
#num {
    font-size: 40px;
    font-weight: bold;
    color: red;
    padding: 10px;
}
.tip {
    top: -9px;
    position: relative;
}
